<%= form_for @service do |f| %>
  <div class="row">
    <div class="form-group">
      <%= f.label :name, "Nombre de servicio" %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= f.label :initial_price, "Precio Inicial" %>
      <%= f.text_field :initial_price %>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= f.label :subsequent_price, "Precio Subsequente" %>
      <%= f.text_field :subsequent_price %>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= f.label :community_price, "Precio de la comunidad" %>
      <%= f.text_field :community_price %>
    </div>
  </div>

  <%= f.submit "Crear" %>
<% end %>