<%= form_for @client_appointment do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
      <%= f.label :client_id, "Folio cliente" %>
      <%= f.select :client_id, Client.all.collect { |c| [ "#{c.full_name} ( #{c.folio} )", c.id ] }, { include_blank: false }, class: "chosen-select" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group" id="fecha">
      <%= f.label :date, "Fecha" %>
      <%= f.datetime_select :date, {order: [:day, :month, :year], use_month_numbers: true, ampm: true, minute_step: 30, start_year: Date.today.year - 1, start_hour: 7, end_hour: 19, end_year: Date.today.year + 1} %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
      <%= f.label :consulting_room_id, "Consultorio" %>
      <%= f.select :consulting_room_id, @consulting_rooms.collect { |c| [ c.name, c.id ] }, { include_blank: false }, class: "form-control", id: "consulting_rooms" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
      <%= f.label :therapist_id, "Terapeuta" %>
      <%= f.select :therapist_id, @therapists.collect { |c| [ c.user.name, c.id ] }, { include_blank: false }, class: "form-control", id: "therapists" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
      <%= f.label :service_id, "Servicio" %>
      <%= f.select :service_id, Service.all.collect { |c| [ c.name, c.id ] }, { include_blank: true }, class: "form-control" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
      <%= f.label :treatment, "Tratamiento" %>
      <%= f.select :treatment, ["Semanal", "Quincenal", "Mensual"], {}, class: "form-control" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
      <%= f.label :status, "Estatus" %>
      <%= f.select :status, ["Pendiente", "Cerrado"], { include_blank: false }, class: "form-control" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
      <%= f.label :comments, "Comentarios" %>
      <%= f.text_area :comments, class: "form-control form-control", placeholder: "Comentarios"  %>
    </div>
  </div>
  <%= f.submit ( f.object.new_record? ? "Crear" : "Editar"), class: "btn btn-primary" %>
  <% end %>