<div class="container">
  <h1>Citas</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= link_to "Agregar", new_client_appointment_path, class: "btn btn-primary" %>
      <%= link_to "Sincronizar con Google Calendar", redirect_path, class: "btn btn-primary pull-right" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table table-striped table-hover" id="table-client_appointments">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Terapeuta</th>
            <th>Fecha</th>
            <th>Consultorio</th>
            <th>Status</th>
            <th>Servicio</th>
            <th>Comentarios</th>
            <th>Precio</th>
            <th>Reporte</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @client_appointments.each do |client_appointment| %>
            <tr>
              <td><%= client_appointment.client.full_name %></td>
              <td><%= client_appointment.therapist.user.name %></td>
              <td><%= client_appointment.date %></td>
              <td><%= client_appointment.consulting_room.name %></td>
              <td><%= client_appointment.status %></td>
              <td><%= client_appointment.service.name || client_appointment.treatment.name %></td>
              <td><%= client_appointment.comments %></td>
              <td><%= client_appointment.price %></td>
              <td>
                <% if client_appointment.appointment_report.nil? %>
                  <%= link_to "Crear reporte", new_appointment_report_path(client_appointment: client_appointment), class: "btn btn-default" %>
                <% else %>
                  <%= link_to "Editar reporte", edit_appointment_report_path(client_appointment.appointment_report), class: "btn btn-default" %>
                <% end %>
              </td>
              <td>
                  <%= link_to edit_client_appointment_path(client_appointment), class: "btn btn-default" do %><%= image_tag "rsz_edit.png", class: "img-responsive" %><% end %>
                  <%= link_to client_appointment_path(client_appointment), class: "btn btn-default", method: :delete, data:{ confirm: "¿Estas seguro?" } do %><%= image_tag "rsz_trash.png", class: "img-responsive" %><% end %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  var table_client_appointments = null
    document.addEventListener("turbolinks:load", function() {
      if($('#table-client_appointments_wrapper').length == 0){
        table_client_appointments = $('#table-client_appointments').DataTable({
            "pageLength": 5,
            "lengthMenu": [ 5, 10, 25, 50, 75, 100 ],
            "stateSave" : true,
          });
      }
    });
    document.addEventListener("turbolinks:before-cache", function() {
      if($('#table-client_appointments_wrapper').length == 1)
        table_client_appointments.destroy()
    });
</script>