<div class="container">
  <h1>Nueva Cita</h1>
  <%= form_for @client_appointment do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
      <%= f.label :client_id, "Folio cliente" %>
      <%= f.select :client_id, Client.all.collect { |c| [ c.folio, c.id ] }, { include_blank: false }, class: "chosen-select" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
      <%= f.label :date, "Fecha" %>
      <%= f.datetime_select :date, {ampm: true, minute_step: 30} %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
      <%= f.label :consulting_room_id, "Consultorio" %>
      <%= f.select :consulting_room_id, ConsultingRoom.all.collect { |c| [ c.name, c.id ] }, { include_blank: false }, class: "chosen-select" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
      <%= f.label :therapist_id, "Terapeuta" %>
      <%= f.select :therapist_id, Therapist.all.collect { |c| [ c.user.name, c.id ] }, { include_blank: false }, class: "chosen-select" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
      <%= f.label :service_id, "Servicio" %>
      <%= f.select :service_id, Service.all.collect { |c| [ c.name, c.id ] }, { include_blank: false }, class: "chosen-select" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
      <%= f.label :treatment_id, "Tratemiento" %>
      <%= f.select :treatment_id, Treatment.all.collect { |c| [ c.id, c.id ] }, { include_blank: false }, class: "chosen-select" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
      <%= f.label :status, "Estatus" %>
      <%= f.select :status, ["Pendiente", "Cerrado"], { include_blank: false }, class: "chosen-select" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
      <%= f.label :comments, "Comentarios" %>
      <%= f.text_field :comments, class: "form-control", placeholder: "83129402"  %>
    </div>
  </div>
  <%= f.submit ( f.object.new_record? ? "Crear" : "Editar"), class: "btn btn-primary" %>
  <% end %>
</div>


<script>

</script>