<%= form_for @schedule do |f| %>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
    <%= f.label :week_day, "Día de la semana" %>
    <%= f.select :week_day, Schedule.work_days, {}, class: "form-control" %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
    <%= f.label :start_time, "Hora de inicio" %>
    <%= f.text_field :start_time, class: "form-control timepicker", placeholder: "Consultorio 1"  %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
    <%= f.label :end_time, "Hora de fin" %>
    <%= f.text_field :end_time, class: "form-control timepicker", placeholder: "Consultorio 1"  %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
    <%= f.label :therapist_id, "Terapeuta" %>
    <%= f.select :therapist_id, Therapist.all.collect { |c| [ c.user.name, c.id ] }, {}, class: "form-control" %>
  </div>
</div>
<%= f.submit ( f.object.new_record? ? "Crear" : "Editar"), class: "btn btn-primary" %>
<% end %>



<script type="text/javascript">
	settings = {
		interval: 60,
		min : [7, 0],
		max : [19,0]
	}
	$('.timepicker').pickatime(settings);

	
</script>

