<%= form_for @consulting_room do |f| %>
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Consultorio 1"  %>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
    <%= f.label :room_type, "Tipo" %>
    <%= f.select :room_type, ["Psicología", "Nutriología"], {}, class: "form-control" %>
  </div>
</div>
<%= f.submit ( f.object.new_record? ? "Crear" : "Editar"), class: "btn btn-primary" %>
<% end %>